@import "responsive.scss";
.container__main {
    background: rgb(231, 231, 231);
    .header {
        .menu__top {
            height: 60px;
            .logo {
                img {
                    @include phone {
                        width: 90%;
                    }
                }
            }
            button {
                @include phone {
                    border: none;
                }
            }
            #collapsibleNavId {
                width: 150px !important;
                position: relative;
                form {
                    margin-left: 148px !important;
                    img {
                        position: absolute;
                        padding-left: 9px;
                    }
                    input {
                        padding-left: 47px;
                        border: none;
                        background: #493756 !important;
                        border-radius: 4px;
                        width: 476px;
                        height: 36px;
                    }
                }
            }
            .account {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                line-height: 16px;
                .money {
                    font-size: 14px;
                    color: #FFFFFF;
                    @include phone {
                        display: none;
                    }
                    .recharge {
                        border: none;
                        background: #FAB414;
                        border-radius: 4px;
                        margin-left: 18px;
                    }
                }
                .acc__detail {
                    justify-content: flex-end;
                    position: relative;
                    .balance {
                        @include phone {
                            display: none;
                        }
                    }
                    .notification {
                        @include phone {
                            position: absolute;
                            top: -3.2em;
                            left: 13em;
                            width: 70px;
                        }
                    }
                    .avatar {
                        @include phone {
                            position: absolute;
                            top: -3.2em;
                            left: 16em;
                            width: 70px;
                        }
                        img {}
                    }
                    .balance,
                    .notification {
                        .acc--item {
                            display: flex;
                            background: #422856;
                            width: 40px;
                            height: 40px;
                            position: relative;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            img {}
                            span {
                                position: absolute;
                                top: 0px;
                                right: -5px;
                                font-size: 10px;
                                line-height: 12px;
                                padding: 5px 3px;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                color: #FFFFFF;
                                background: #FF6666;
                            }
                        }
                    }
                }
            }
        }
    }
    .show__auction {
        display: flex;
        .menu_left {
            background: #2A0A42;
            width: 188px;
            height: 1000px;
            padding: 40px 0px 100px 0px;
            @include phone {
                display: none;
            }
            .menu--item {
                font-family: Roboto;
                font-style: normal;
                padding: 15px 0px 15px 25px;
                font-weight: normal;
                display: flex;
                align-items: center;
                a,
                .auction,
                .wallet {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    cursor: pointer;
                    // justify-content: space-between;
                    img {}
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        color: #FFFFFF;
                    }
                }
                .wallet {
                    gap: 16px;
                }
                .cart {
                    .cart--number {
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 13px;
                        color: #2A0A42;
                    }
                }
            }
            .detail__unction,
            .wallet--detail {
                display: none;
                margin-bottom: 10px;
                a {
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                    padding-left: 60px;
                }
            }
        }
        .content {
            width: 100%;
            // display: grid;
            .slide {
                width: 100%;
                height: 750px;
                margin: 104px 0px 0px 0px;
                section {
                    margin: 40px 300px;
                    position: relative;
                    .redirect {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        img#prev {
                            position: absolute;
                            top: -13em;
                            left: 8em;
                            z-index: 10000;
                            cursor: pointer;
                        }
                        img#next {
                            position: absolute;
                            top: -13em;
                            right: -26.3em;
                            z-index: 10000;
                            cursor: pointer;
                        }
                    }
                }
                li {
                    width: 1155px;
                    height: 615px;
                    background: #333;
                    display: inline-block;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    overflow: hidden;
                }
                li p {
                    color: white;
                    font-weight: bold;
                    font-size: 5em;
                    text-align: center;
                    margin-top: 1.175em;
                }
                .items {
                    position: absolute;
                }
                .main-pos {
                    display: flex;
                    margin-left: -3em !important;
                    z-index: 3000;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 50px -20px rgba(95, 66, 117, 0.5);
                    .auction--image {
                        padding: 32px;
                        border-right: 1px solid #F7F4FA;
                        .auction__status {
                            height: 448px;
                            padding: 20px 24px;
                            background: linear-gradient(0deg, #F8F8F8, #F8F8F8), url(.jpg), #939393;
                            .status--title {
                                // display: flex;
                                span {
                                    position: static;
                                    background: #FF6666;
                                    border-radius: 4px;
                                    padding: 3px 8px;
                                    color: white;
                                }
                                div {
                                    position: absolute;
                                    right: 50px;
                                    background: white;
                                    top: 50px;
                                    padding: 10px;
                                    border-radius: 50%;
                                    img {}
                                }
                            }
                            img {
                                max-width: 100%;
                            }
                        }
                        .info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 20px 0px 10px 0px;
                            h5 {
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 21px;
                                color: #403946;
                            }
                            .para {
                                display: flex;
                                gap: 5px;
                                .time,
                                .people {
                                    background: #F7F4FA;
                                    border-radius: 4px;
                                    padding: 4px 12px;
                                    span {
                                        position: static;
                                    }
                                }
                            }
                        }
                        .price {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            color: #7D7882;
                            .item {
                                background: #B8B3BC;
                                border-radius: 4px;
                                padding: 5px 10px;
                                margin-right: 12px;
                            }
                            span {
                                position: static;
                            }
                        }
                    }
                    .auction--info {
                        padding: 32px;
                        font-family: Roboto;
                        font-style: normal;
                        .update__price {
                            display: flex;
                            span {
                                position: static;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 16px;
                                text-align: center;
                                color: #7D7882;
                            }
                            img {
                                cursor: pointer;
                            }
                        }
                        .number__cost {
                            display: flex;
                            margin: 8px 0px 32px 0px;
                            justify-content: center;
                            .number--item {
                                background: #403946;
                                border-radius: 5px;
                                width: 24px;
                                height: 32px;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 28px;
                                text-align: center;
                                color: #FFFFFF;
                                margin-right: 2px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        .chat {
                            background: #F7F4FA;
                            padding: 17px 20px 24px 20px;
                            .content {
                                display: flex;
                                align-items: center;
                                margin-bottom: 16px;
                                .mess {
                                    background: #E4DBEC;
                                    border-radius: 4px;
                                    margin-left: 8px;
                                    padding: 8px 14px 8px 12px;
                                }
                            }
                            .content--rep {
                                display: flex;
                                flex-direction: row-reverse;
                                margin-bottom: 16px;
                                .mess {
                                    background: #C4ABFA;
                                    border-radius: 4px;
                                    padding: 8px 14px 8px 12px;
                                    margin-right: 8px;
                                }
                            }
                            .tips {
                                .note {
                                    font-size: 13px;
                                    line-height: 15px;
                                    // display: flex;
                                    color: #7D7882;
                                    width: 208px;
                                    margin: 0 auto;
                                    b {
                                        color: red;
                                    }
                                }
                            }
                        }
                        .buy {
                            display: flex;
                            margin: 24px 0px 13px 0px;
                            justify-content: space-between;
                            padding: 10px 20px;
                            gap: 8px;
                            .number {
                                width: 124px;
                                background: #FFFFFF;
                                border: 1px solid #B8B3BC;
                                box-sizing: border-box;
                                border-radius: 5px;
                                display: flex;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                align-items: center;
                                div {
                                    img {
                                        cursor: pointer;
                                    }
                                }
                                input {
                                    border: none;
                                    text-align: center;
                                    width: 70px;
                                }
                            }
                            .order {
                                width: 240px;
                                background: #FAB414;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                padding: 16px;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                        .action {
                            padding: 0 20px;
                            display: flex;
                            justify-content: space-between;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                            display: flex;
                            align-items: center;
                            color: #B8B3BC;
                            position: relative;
                            margin-bottom: 20px;
                            .price,
                            .stakes {
                                span {
                                    position: static;
                                }
                                b {
                                    font-weight: bold;
                                    color: #403946;
                                    span {
                                        position: static;
                                        color: #B8B3BC;
                                    }
                                }
                            }
                            div::before {
                                content: "";
                                position: absolute;
                                height: 10px;
                                border-right: 1px solid #ccc;
                                top: 2px;
                            }
                        }
                    }
                }
                .left-pos {
                    opacity: 1;
                    filter: blur(5px);
                    background: white;
                    margin-left: -21.5em !important;
                    z-index: 1000;
                    -webkit-transform: scale(.75);
                    -moz-transform: scale(.75);
                    transform: scale(.75);
                    @extend .main-pos;
                }
                .back-pos {
                    margin-left: 2em !important;
                    opacity: 0;
                    -webkit-transform: scale(.5);
                    -moz-transform: scale(.5);
                    transform: scale(.5);
                    @extend .main-pos;
                }
                .right-pos {
                    opacity: 1;
                    filter: blur(5px);
                    background: white;
                    margin-left: 15em !important;
                    z-index: 1000;
                    -webkit-transform: scale(.75);
                    -moz-transform: scale(.75);
                    transform: scale(.75);
                    @extend .main-pos;
                }
                span {
                    position: relative;
                    margin: 0 auto;
                    left: -17em;
                    top: 30em;
                }
            }
            .banner {
                display: flex;
                gap: 19px;
                width: 84%;
                margin: 0 auto;
                margin-bottom: 70px;
                @include phone {
                    width: 100%;
                    margin-bottom: 0;
                }
                .banner--item {
                    img {
                        border-radius: 8px;
                        @include phone {}
                    }
                }
                @include phone {
                    .banner--item:nth-child(1) {
                        display: block;
                    }
                    .banner--item:nth-child(2),
                    .banner--item:nth-child(3),
                    .banner--item:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }
    .auction__special {
        margin: 70px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin: 0px 140px 23px 308px;
        padding: 16px 30px;
        background: #FFFFFF;
        @include phone {
            margin: 0;
        }
        .view {
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;
            div {
                font-size: 18px;
                line-height: 21px;
                color: #403946;
            }
            .view__all {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    /* text 2 color */
                    color: #7D7882;
                }
            }
        }
        .list--auction {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            display: flex;
            .detail__auction:last-child {
                margin-right: 0px !important;
            }
            .detail__auction {
                padding: 0px;
                width: 16.6%;
                margin-right: 20px;
                .item--auction {
                    background: #F8F8F8;
                    padding: 12px 16px;
                    .title__auction {
                        display: flex;
                        justify-content: space-between;
                        span {
                            padding: 4px 8px;
                            background: #FF6666;
                            border-radius: 4px;
                        }
                        img {
                            max-width: 100%;
                        }
                    }
                    img {
                        max-width: 100%;
                    }
                }
                h4 {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #403946;
                    margin: 16px 0px 8px 0px;
                }
                .stat {
                    font-size: 14px;
                    line-height: 16px;
                    color: #7D7882;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .auction__coming {
        margin: 70px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin: 70px 140px 23px 308px;
        padding: 16px 30px;
        background: #FFFFFF;
        @include phone {
            margin: 0;
        }
        .view {
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;
            div {
                font-size: 18px;
                line-height: 21px;
                color: #403946;
            }
            .view__all {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    /* text 2 color */
                    color: #7D7882;
                }
            }
        }
        .list--auction {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            display: flex;
            .detail__auction:last-child {
                margin-right: 0px !important;
            }
            .detail__auction {
                padding: 0px;
                width: 16.6%;
                margin-right: 20px;
                .item--auction {
                    background: #F8F8F8;
                    padding: 12px 16px;
                    .title__auction {
                        display: flex;
                        justify-content: space-between;
                        span {
                            padding: 4px 8px;
                            background: #1DBF53;
                            border-radius: 4px;
                        }
                        img {
                            max-width: 100%;
                        }
                    }
                    img {
                        max-width: 100%;
                    }
                }
                h4 {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #403946;
                    margin: 16px 0px 8px 0px;
                }
                .stat {
                    font-size: 14px;
                    line-height: 16px;
                    color: #7D7882;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .ticket__hunt {
        margin: 70px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin: 70px 140px 23px 308px;
        @include phone {
            margin: 0;
        }
        .view {
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;
            div {
                font-size: 18px;
                line-height: 21px;
                color: #403946;
            }
            .view__all {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    /* text 2 color */
                    color: #7D7882;
                }
            }
        }
        .offer-item {
            display: flex;
            justify-content: space-between;
            div {
                border-radius: 8px;
                padding: 0px;
            }
        }
    }
    .news {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin: 70px 140px 23px 308px;
        padding: 16px 30px;
        background: #FFFFFF;
        @include phone {
            margin: 0;
        }
        .view {
            display: flex;
            justify-content: space-between;
            padding: 12px 0px;
            div {
                font-size: 18px;
                line-height: 21px;
                color: #403946;
            }
            .view__all {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    /* text 2 color */
                    color: #7D7882;
                }
            }
        }
        .list--news {
            font-family: Roboto;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .detail__new {
                // padding: 0px;
                width: 16.67%;
                .item--new {
                    img {
                        max-width: 100%;
                    }
                }
                h4 {
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    margin: 16px 0px 0px 0px;
                }
                p {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.5);
                }
                div {
                    span {
                        font-size: 12px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        color: #B8B3BC;
                    }
                }
            }
        }
    }
    .footer {
        font-family: Roboto;
        font-style: normal;
        margin: 70px 140px 23px 308px;
        padding: 16px 15px;
        @include phone {
            margin: 0;
        }
        .footer__top {
            border-top: 1px solid #521780;
            padding: 32px 0px 25px 0px;
            .customer--care {
                padding: 0px;
                @include phone {
                    margin-bottom: 24px;
                }
                h5 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #7D7882;
                    @include phone {
                        padding: 0 15px;
                    }
                }
                .row {
                    @include phone {
                        margin: 0;
                    }
                    a {
                        font-size: 14px;
                        line-height: 200%;
                        color: #7D7882;
                    }
                }
            }
            .link,
            .contact {
                @include phone {
                    margin-bottom: 24px;
                }
                h5 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #7D7882;
                }
                a {
                    font-size: 14px;
                    line-height: 200%;
                    color: #7D7882;
                }
            }
            .contact {
                @include phone {
                    margin-bottom: 0;
                }
            }
        }
    }
    .footer__bottom {
        background: #2A0A42;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        p {
            font-size: 14px;
            line-height: 120%;
            color: #F7F4FA;
            text-align: center;
            padding: 17px 0px 14px 0px;
        }
    }
}